.home-bg
    cover-img: url('/img/bg/hubworld-1.png')

.custom-bg
    custom-stretch-img: 0.7

.lobby-bg
    cover-img: url('/img/bg/eye-enforcers.png')

.deckbuilder-bg
    cover-img: url('/img/bg/calling-in-favors.png')

.cardbrowser-bg
    cover-img: url('/img/bg/smooth-handoff.png')

.help-bg
    cover-img: url('/img/bg/smooth-handoff.png')

.about-bg
    cover-img: url('/img/bg/calling-in-favors.png')

.account-bg
    cover-img: url('/img/bg/kyzar-the-rat.jpg')

.reset-bg
    cover-img: url('/img/bg/kyzar-the-rat.jpg')

.stats-bg
    cover-img: url('/img/bg/calling-in-favors.png')

.barbican-gate-bg
    cover-img: url('/img/bg/barbican-gate.png')

.calling-in-favors-bg
    cover-img: url('/img/bg/calling-in-favors.png')

.eye-enforcers-bg
    cover-img: url('/img/bg/eye-enforcers.png')

.hubworld-bg
    cover-img: url('/img/bg/hubworld-1.png')

.kyzar-the-rat-bg
    cover-img: url('/img/bg/kyzar-the-rat.jpg')

.smooth-handoff-bg
    cover-img: url('/img/bg/smooth-handoff.png')

.monochrome-bg
    cover-color: gray-dark
