@font-face
    font-family: 'Titillium Web'
    font-style: normal
    font-weight: 200
    src: url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff')
    src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype')

@font-face
    font-family: 'Titillium Web'
    font-style: normal
    font-weight: 300
    src: url('../fonts/TitilliumWeb-Light.woff') format('woff')
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype')

@font-face
    font-family: 'Titillium Web'
    font-style: normal
    font-weight: 400
    src: url('../fonts/TitilliumWeb-Regular.woff') format('woff')
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')

@font-face
    font-family: 'Titillium Web'
    font-style: normal
    font-weight: 700
    src: url('../fonts/TitilliumWeb-Bold.woff') format('woff')
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype')

@font-face
    font-family: 'anr-icon'
    src: url('../fonts/netrunner.eot') format('eot')
    src: url('../fonts/netrunner.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/netrunner.woff') format('woff')
    src: url('../fonts/netrunner.ttf') format('truetype')
    src: url('../fonts/netrunner.svg') format('svg') active
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'noto-emoji'
    src: url('../fonts/NotoEmoji-Regular.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'fire'
    src: url('../fonts/fire.ttf')
    font-weight: normal
    front-style: normal

@font-face
    font-family: 'hubworld'
    src: url('../fonts/hubworld.ttf')
    font-weight: normal
    front-style: normal

.anr-icon
    font-family: "anr-icon" !important
    font-size: 15px
    margin-right: 1px
    speak: none

.anr-icon.heat
    font-family: "hubworld" !important
//.anr-icon.click
//    font-family: "hubworld" !important
.anr-icon.barrier-str
    font-family: "hubworld" !important
.anr-icon.council
    font-family: "hubworld" !important
.anr-icon.commons
    font-family: "hubworld" !important
.anr-icon.archives
    font-family: "hubworld" !important
.anr-icon.exile
    font-family: "hubworld" !important
.anr-icon.reaction
    font-family: "hubworld" !important
.anr-icon.instant
    font-family: "hubworld" !important
.anr-icon.discovery
    font-family: "hubworld" !important

hr
    border-top 1px solid #FFD700

.anr-icon.heat:before
    content: "\e800"
.anr-icon.click:before
    content: "\e611"
//    content: "\f1d8"
.anr-icon.barrier-str:before
    content: "\e80e"
.anr-icon.credit:before
    content: "\e600"
.anr-icon.council:before
    content: "\f19c"
.anr-icon.commons:before
    content: "\e80c"
.anr-icon.archives:before
    content: "\f1c6"
.anr-icon.exile:before
    content: "\e805"
.anr-icon.reaction:before
    content: "\e803"
.anr-icon.instant:before
    content: "\e801"
.anr-icon.discovery:before
    content: "\e804"

.anr-icon.haas-bioroid:before
    content: "\e602"

.anr-icon.shaper:before
    content: "\e603"

.anr-icon.subroutine:before
    content: "\e604"

.anr-icon.anarch:before
    content: "\e605"

.anr-icon.trash:before
    content: "\e606"

.anr-icon.weyland-consortium:before
    content: "\e607"

.anr-icon.recurring-credit:before
    content: "\e608"

.anr-icon.jinteki:before
    content: "\e609"

.anr-icon.mu1:before
    content: "\e60a"

.anr-icon.nbn:before
    content: "\e60b"

.anr-icon.mu2:before
    content: "\e60c"

.anr-icon.agenda:before
    content: "\e60d"

.anr-icon.mu3:before
    content: "\e60e"

.anr-icon.rez:before
    content: "\e60f"

.anr-icon.mu:before
    content: "\e610"

.anr-icon.criminal:before
    content: "\e612"

.anr-icon.link:before
    content: "\e601"

@font-face
    font-family: "fontello"
    src: url('../fonts/fontello.eot')
    src: url('../fonts/fontello.eot#iefix') format('embedded-opentype')
    src: url('../fonts/fontello.woff') format('woff')
    src: url('../fonts/fontello.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.e
    font-family: "fontello" !important
    font-style: normal
    font-weight: normal
    font-size: 16px
    speak: none
    display: inline-block
    text-decoration: inherit
    width: 1em
    text-align: center
    font-variant: normal
    text-transform: none
    line-height: 28px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
